{% extends "base.html" %}

{% block title %}Family List{% endblock title %}

{% block content %}
<H1>Families</H1>

       <div class="d-flex justify-content-left">
         <form class="d-flex" action="{% url 'family_list' %}" method="get">
           <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" >
           <button class="btn btn-outline-success" type="submit">Search</button>
         </form>
       </div>
<BR>
{% if qname %}
<p>Searching for <b><em>{{ qname }}</em></b></p>
{% endif %}

      <table class="table table-striped mt-5 sortable">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-left" scope="col">Family</th>
                    <th class="text-left" scope="col">E-Mail</th>
                    <th class="text-left" scope="col">First Name</th>
                    <th class="text-left" scope="col">Last Name</th>
                    <th class="text-left" scope="col">Photo Consent</th>
                    <th class="text-left" scope="col">Contact Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
           {% for family in family_list %}
               <tr>
                   <th scope="row">{{forloop.counter}}</th>
                   <td><a href="{% url 'family_detail' family.id %}">{{ family.family_name }}</a></td>
                   <td>{{ family.email }}</td>
                   <td>{{ family.first_name }}</td>
                   <td>{{ family.last_name }}</td>
                   <td>{{ family.photo_consent|yesno:'Yes,No' }}</td>
                   <td>{{ family.contact_number }}</td>
                   <td></td>
               </tr>
           {% endfor %}
            </tbody>
        </table>

{% endblock content %}