{% load crispy_forms_tags %}

<div hx-target="this" hx-swap="outerHTML" class="mt-3 py-3 px-3 bg-white shadow border border-gray-100">
    {% if booking %}
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Event: {{ booking.event }}
      </h3>
      <p class="text-gray-600">Event Date: {{ booking.event.start_date|date:'j/m/Y' }}</p>
      <p class="text-gray-600">Booking Date: {{ booking.booking_date|date:'j/m/Y h:i a' }}</p>

      <p>Booked Family Members:</p>
      <ul>
      {% for attendee in booking.attendance_set.all %}
        <li>{{ attendee.family_member }} ({{ attendee.family_member.get_type_display }}{% if attendee.family_member.type == 'CHILD' %} - {{ attendee.family_member.childmore.years_old }}{% endif %})</li>
      {% endfor %}
      </ul>
    {% endif %}
    <p>Please confirm <b>ALL</b> family members attending this event:</p>
    <form method="POST" id="bookingForm">
        {% csrf_token %}
        {{ form|crispy }}
        {% if booking %}
        <button type="submit" class="btn btn-success" hx-post="{% url 'update-booking-attendees' booking.id %}">Submit</button>
        <button type="button" class="btn btn-danger" hx-get="{% url 'detail-booking' booking.id %}">Cancel</button>
        {% else %}
        <button type="submit" class="btn btn-success" hx-post=".">Submit</button>
        {% endif %}
    </form>
</div>