{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="cc-inner-title">{{ page.title}}</h1>
            {% if page.subtitle %}
            <p class="cc-inner-subtitle cc-service-subtitle">
                {{ page.subtitle }}
            </p>
            {% endif %}
        </div>
    </div>
    <div class="row row-cols-auto">
    {% for card in partners %}
    <div class="col">
      <div class="card border-0">
        <a href="{% if card.internal_page %}{{ card.internal_page.rl }}{% elif card.external_page %}{{ card.external_page }}{% else %}#{% endif %}" target="_blank">
          <picture>
            {% image card.partner_image width-200 as card_img %}
            <img src="{{ card_img.url }}" alt="{{ card_img.alt }}" class="lazy card-img-top">
          </picture>
        </a>
      </div>
    </div>
    {% endfor %}
    </div>
{% endblock content %}
