{% extends 'account/base_card.html' %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Change Password" %}</h3>
{% endblock %}

{% block card-body %}

    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}

{% endblock %}

{% block card-footer %}
    <p>{% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></p>
{% endblock %}
