{% extends 'account/base_card.html' %}

{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Password Reset" %}</h3>
{% endblock %}

{% block card-body %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>

{% endblock %}

{% block card-footer %}
    <p>{% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></p>
{% endblock %}