{% extends 'account/base_card.html' %}

{% load i18n static %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Account profile" %}</h3>
    <h4>{{ user.username }}</h4>
{% endblock %}

{% block card-body %}
    <div class="container">
       <div class="row">
            <div class="col border">
                <small>{% trans "First name" %}:</small><br>
                {{ user.first_name|default:'' }}
            </div>
            <div class="col border">
                <small>{% trans "Last name" %}:</small><br>
                {{ user.last_name|default:'' }}
            </div>
        </div>
        <div class="row">
            <div class="col border">
                <small>{% trans "E-mail" %}:</small><br>
                {{ user.email }}
            </div>
            <div class="col border">
                <small>{% trans "Family name" %}:</small><br>
                {{ user.family_name }}
            </div>
        </div>
        <div class="row">
            <div class="col border">
                <small>{% trans "Post Code" %}:</small><br>
                {{ user.post_code }}
            </div>
            <div class="col border">
                <small>{% trans "City" %}:</small><br>
                {{ user.city }}
            </div>
        </div>
        <div class="row">
            <div class="col border">
                <small>{% trans "Photo consent?" %}:</small><br>
                {{ user.photo_consent|yesno:'Yes,No' }}
            </div>
            <div class="col border">
                <small>{% trans "Contact mobile phone" %}:</small><br>
                {{ user.contact_number }}
            </div>
        </div>
        <div class="row">
            <div class="col border">
                <small>{% trans "Additional Information" %}:</small><br>
                {{ user.additional_information }}
            </div>
        </div>
    </div>

    <div class="container">
       <H2>Family members</H2>
        <table class="table table-striped mt-5" style="width: 100% sortable">
            <thead>
                <tr>
                    <th scope="col">Parent/Child</th>
                    <th scope="col">Name</th>
                    <th scope="col">DoB</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Dietary</th>
                    <th scope="col">Medical</th>
                    <th scope="col">FSM</th>
                    <th scope="col">SEN</th>
                    <th scope="col">School</th>
                </tr>
            </thead>
            <tbody>
                    {% for family_member in family_members %}
                    <tr>
                        <td> {{ family_member.type }}</td>
                        <td> {{ family_member }}</td>
                        <td> {{ family_member.childmore.dob|date:'j/m/Y' }}</td>
                        <td> {{ family_member.childmore.gender }}</td>
                        <td> {{ family_member.dietary_req|yesno:"Yes," }}</td>
                        <td> {{ family_member.medical_req|yesno:"Yes," }}</td>
                        <td> {{ family_member.childmore.fsm|yesno:"Yes," }}</td>
                        <td> {{ family_member.childmore.sen|yesno:"Yes," }}</td>
                        <td> {{ family_member.childmore.school|default:'' }}</td>

                    </tr>
                    {% endfor %}
            </tbody>
        </table>

{% comment %}
       <div class="row">
            <div class="col border">
                Parent / Child
            </div>
            <div class="col border">
                First Name
            </div>
            <div class="col border">
                Last Name
            </div>
            <div class="col border">
                Dietary
            </div>
            <div class="col border">
                Medical
            </div>
            <div class="col border">
                Date of Birth
            </div>
            <div class="col border">
                Gender
            </div>
            <div class="col border">
                School
            </div>
            <div class="col border">
                FSM
            </div>
            <div class="col border">
                SEN
            </div>
       </div>
       {% for fm in familymembers %}
       <div class="row">
            <div class="col border">
                <small>{{ fm.type }}</small>
            </div>
            <div class="col border">
                <small>{{ fm.first_name }}</small>
            </div>
            <div class="col border">
                <small>{{ fm.last_name }}</small>
            </div>
            <div class="col border">
                <small>{{ fm.dietary_req }}</small>
            </div>
            <div class="col border">
                <small>{{ fm.medical_req }}</small>
            </div>
            <div class="col border">
                <small>{{ fm.childmore.dob|date:'j/m/Y' }}</small>
            </div>
            <div class="col border">
                <small>{{ fm.childmore.gender }}</small>
            </div>
            <div class="col border">
                <small>{{ fm.childmore.school }}</small>
            </div>
            <div class="col border">
                <small>{{ fm.childmore.fsm }}</small>
            </div>
            <div class="col border">
                <small>{{ fm.childmore.lsen }}</small>
            </div>
       </div>
       {% endfor %}
    </div>

{% endcomment %}

{% endblock %}

{% block card-footer %}
    <a href="{% url 'account_update'  %}">{% trans "Update your account" %}</a>
    <a href="{% url 'create-family-member' request.user.pk %}">{% trans "Update Family Members" %}</a>
    {% comment %}
    <a href="{% url 'account_update' request.user.pk %}">{% trans "Update your account" %}</a>
    {% endcomment %}
{% endblock %}