{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5" style="width: 90%;">
    <div class="col">
        <h1 class="text-center">Event Details (Admin)</h1>
        <h2 class="text-center">{{ eventpage.title }}</h2>
        <div class="d-flex justify-content-center">

            <table class="table table-striped mt-5" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                   <tr><td>Description</td><td>{{ eventpage.description }}</td></tr>
                   <tr><td>Type</td><td>{{ eventpage.event_type }}</td></tr>

                   <tr><td>Start Date/Time</td><td>{{ eventpage.start_date|date:'j F Y h:i a' }}</td></tr>
                   <tr><td>End Date/Time</td><td>{{ eventpage.end_date|date:'j F Y h:i a' }}</td></tr>
                   <tr><td>Project</td><td><a href="{{ eventpage.get_parent.id }}">{{eventpage.get_parent}}</a></td></tr>
                   <tr><td>Week</td><td>{{ eventpage.week }}</td></tr>
                   <tr><td>Capacity</td><td>{{ eventpage.capacity }}</td></tr>
                   <tr><td>Spaces Available</td><td>{{ eventpage.spaces_available }}</td></tr>
                   <tr><td># Parent Attendees</td><td>{{ eventpage.num_parent_attendees }}</td></tr>
                   <tr><td># Child Attendees</td><td>{{ eventpage.num_child_attendees }}</td></tr>
                   <tr><td># FSM</td><td>{{ eventpage.num_fsm_attendees }}</td></tr>
                   <tr><td># SEN</td><td>{{ eventpage.num_sen_attendees }}</td></tr>
                   <tr><td>Bookable</td><td>{{ event.bookable|yesno:"Yes,No" }}</td></tr>
                </tbody>
            </table>

        </div>
        <div class="bd-example-snippet bd-code-snippet">
          <a class="btn btn-info" href="/admin/pages/{{ eventpage.id }}/edit/" role="button">Edit Event</a>
          <a class="btn btn-info" href="{% url 'event_bookings_list' eventpage.id %}" role="button">View Bookings</a>
        </div>
        <h2>Attendance Register Daily</h2>
        <div class="bd-example-snippet bd-code-snippet">
          <a class="btn btn-info" href="{% url 'event_attendance_list' eventpage.id %}" role="button">Summary</a>
          <a class="btn btn-info" href="{% url 'download_attendance_register_daily' eventpage.id %}" role="button">Download</a>
          <a class="btn btn-info" href="#" role="button">Upload</a>
        </div>
        <div class="bd-example-snippet bd-code-snippet">
          <a href="{% url 'events' %}" class="d-block btn btn-primary btn-lg my-5">Events</a>
        </div>

    </div>

</div>

{% endblock  %}