{% extends 'base.html' %}
{% load static %}

{% block title %}Unique Attendees List - Children{% endblock title %}

{% block content %}
<div class="container d-flex mt-5" style="width: 100%;">
    <div class="col">
        <h1 class="text-center">Unique Attendees List - Children (Admin)</h1>
        <div class="d-flex justify-content-center">
            <table class="table table-striped mt-5" style="width: 70%">
                <tbody>
                   <tr class="text-end">
                       <th>Project</th>
                       <td>{{ project.title }}</td>
                   </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center">
            <a href="{% url 'project_detail' projectpage.id %}" class="d-block btn btn-primary btn-lg my-5">Back</a>
        </div>
        <div class="d-flex justify-content-center">
        <table class="table table-striped mt-5 sortable" style="width: 50%">
            <thead>
                <tr>
                    <th class="text-end" scope="col">Seq</th>
                    <th class="text-left" scope="col">Attendee</th>
                    <th class="text-left" scope="col">Events Attended</th>
                </tr>
            </thead>
            <tbody>
                {% for attendee in attendance_list %}
                <tr>
                    <td class="ml-5 text-end">{{ forloop.counter }}</td>
                    <td class="ml-5">{{ attendee.0 }} {{ attendee.1 }}</td>
                    <td class="ml-5 text-end">{{ attendee.2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

</div>

{% endblock content %}
