{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="row mb-3">
        <div class="col-lg-6">
            <h1 class="cc-inner-title">{{ page.title}}</h1>
            <p class="cc-inner-subtitle cc-service-subtitle">
                {{ page.description }}
            </p>
            <p>Spaces available: {{ page.spaces_available }}</p>
            <hr>
            {% comment %}
            {% if page.internal_page or page.external_page %}
            <a href="{% if page.internal_page %}{{ page.internal_page.rl }}{% elif page.external_page %}{{ page.external_page }}{% else %}# {% endif %}" class="btn btn-primary btn-lg mb-2 mb-lg-0">
                {{ page.button_text }}
            </a>
            {% endif %}

            <a href="{% url 'book-event' page.id %}" class="btn btn-primary btn-lg mb-2 mb-lg-0">Book</a>
            {% endcomment %}
            <p class="cc-inner-subtitle cc-service-subtitle">
            {% for block in page.detail %}
                {% include_block block %}
            {% endfor %}
            </p>

            <a href="{% url 'bookings' %}" class="btn btn-primary btn-lg mb-2 mb-lg-0">Bookings</a>
        </div>
        <div class="col-lg-4">
          <picture>
              {% image page.event_image width-400 as img %}
              <img src="{{ img.url }}" style="width: 100%; height=:auto;" alt="{{ img.alt }}">
          </picture>
        </div>
    </div>

{% endblock content %}
