{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="row mb-3">
        <div class="col-lg-6">
            <h1 class="cc-inner-title">{{ page.title}}</h1>
            <p class="cc-inner-subtitle cc-service-subtitle">
                {{ page.description }}
            </p>

            {% comment %}
            {% if page.internal_page or page.external_page %}
            <a href="{% if page.internal_page %}{{ page.internal_page.rl }}{% elif page.external_page %}{{ page.external_page }}{% else %}# {% endif %}" class="btn btn-primary btn-lg mb-2 mb-lg-0">
                {{ page.button_text }}
            </a>
            {% endif %}
            {% endcomment %}
        </div>
        {% comment %}
        <div class="col-lg-6">
          <picture>
              {% image page.project_image width-320 as img %}
              <img src="{{ img.url }}" style="height=:auto;" alt="{{ img.alt }}">
          </picture>
        </div>
        {% endcomment %}
    </div>

    <div class="row mt-4">
        {% comment %}
        {% for card in events %}
        {% endcomment %}
    {% for card in page.get_children.live %}
    {% with card=card.specific %}
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="card mb-3 text-center">
        <a href="{{ card.url }}">
          <picture>
            {% image card.event_image width-800 as card_img %}
            <img src="{{ card_img.url }}" style="height=:auto;" alt="{{ card_img.alt }}" class="lazy card-img-top">
          </picture>
        </a>
        <div class="card-body py-3 px-3">

          <h5 class="card-title">{{ card.title }}</h5>

          <p class="card-description">
              <b>Date</b> {{ card.start_date|date:'j/m/Y' }} {{ card.start_date|date:'g:i A' }} - {{ card.end_date|date:'g:i A' }}
          </p>

          {% if card.description %}
            <p class="card-description">{{ card.description }}</p>
          {% endif %}
          <p>Spaces available: {{ card.spaces_available }}</p>
          <p class="card-text">
            <a href="{{ card.url }}" class="btn btn-link d-inline">More Details</a>
          </p>
        </div>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
    </div>

{% endblock content %}
